@charset "UTF-8";

/* ESTILOS PARA CELULAR DEITADO */

header {
    background-color: rgb(212, 212, 212);
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 5px;
       
}

nav {
    background-color: rgb(255, 203, 135);
    padding: 5px;
}

a {
    padding-left: 10px;
    display: inline;
}

a:hover {
    text-decoration: underline;
    color: seagreen;
}

h2 {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

p {
    padding: 10px;
    text-indent: 30px;
    text-align: justify;
    max-width: 60vw;
    margin: auto;
    
}

img {
    width: 50vw;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

footer {
    background-color: slategray;
    padding: 10px;
    color: white;
    text-align: center;
    
}